{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Automated Email Sender</title>
        <link href="{% static 'automatedemailsenderapp/light.css' %}" rel="stylesheet">
        <script src="myscripts.js"></script>
    </head>
    <body>
        <container id="page-background">
            <div class="section-container" id="title">
                <h1 class="title">Automated Email Sender</h1>
            </div>
            <div class="section-container" id="about">
                <container class="description">
                    <p class="styled-paragraph">A user-friendly web application to help you <b>automate sending emails to large audiences.</b></p>
                    <ul class="styled-list">
                        <li>Greet new <b>clients</b> with a warm <b>welcome</b></li>
                        <li>Update <b>followers</b> with your <b>weekly newsletter</b></li>
                        <li>Shoot <b>cold emails</b> to <b>hiring managers</b></li>
                    </ul>
                </container>
            </div>
        </container>
    </body>
    <footer class="footer">
        <p>
            <a href="https://github.com/yuu-chennn/Automated-Email-Sender" target="_blank" rel="noopener">Contribute on Github</a>
        </p>
        <p>
            <a href="https://linkedin.com/" target="_blank" rel="noopener">Linkedin</a>
        </p>
        <p>
            This site was built with <a href="https://www.djangoproject.com/" target="_blank" rel="noopener">Django</a>
        </p>
</html>